<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DXRacer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>089B761B1EF1125D0019CF62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>089B76341EF1125D0019CF62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>089B763F1EF1125D0019CF62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
